*{
  margin: 0px;
}


.rettangolo {
  background-color: rgb(35, 133, 208);
  background-image: url(img/pattern.png);
height: 150px;

}
.logo {
  width: 200px;
  padding-top: 80px;
 
}
.colore1 {
  color: aqua;
}
.descrizione {
  font-size: 10px;
}
h1{
 margin-top: 20px;
}
.lorem {
margin-top: 50px;
}

.p2 {
  margin-top: 20px;
}
.evidenziatore {
  background-color: rgb(232, 215, 62);
} 
.lista {
  text-align: right;
}
.boximg1 {
  background-image: url(img/monitor.jpg);
  width: 200px;
  height: 200px;
  background-size: cover;
  color: white;
  font-weight: 900;
  margin-top: 10px;
  padding: 10px;
}

.boximg2 {
  background-image: url(img/graph.jpg);
  width: 200px;
  height: 200px;
  color: white;
  font-weight: 900;
  padding: 10px;
}
.p2 thead {
  background-color:rgb(35, 133, 208)
}
.odd {
  background-color: rgb(23, 192, 229);
}

.cell {
  height: 10px;
  width: 100px;
}
.int {
  height: 1px;
  color: white;
}